body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input, button {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #45a049;
}

.task {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task button {
    cursor: pointer;
    margin-left: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
}

.task button:hover {
    background-color: #d32f2f;
}

.task input[type="text"], .task input[type="date"] {
    border: 1px solid transparent;
    padding: 5px;
    margin-right: 10px;
}

.task.editing input[type="text"], .task.editing input[type="date"] {
    border: 1px solid #ccc;
}
